@{
    ViewBag.Title = "Log Viewer";
}

<style>
    pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

.has-spinner .fa-spin  {
  opacity: 0;
  max-width: 0;

  /*-webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */*/
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .fa-spin {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}
td.rowDetails {
    background: url('../Images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.rowDetails {
    background: url('../Images/details_close.png') no-repeat center center;
}

#searchBar {
    padding:20px;
}

.inlineFormGroup {
    padding-right:10px;
    }

#logGrid {
    table-layout:fixed;
    word-break:break-word;
}

.b { font-weight: bold}

</style>

<div class="container-fluid">
    <div id="searchBar" class="form-inline">
        <div class="form-group inlineFormGroup">
            <label for="server">Server:  </label>
            <select id="server" class="form-control">
                <option value="DEV">DEV</option>
                <option value="QA">QA</option>
                <option value="UAT">UAT</option>
                <option value="PROD">PROD</option>              
            </select>
        </div>
        <div class="form-group inlineFormGroup">
            <label for="resultCnt">Count:  </label>
                <select id="resultCnt" class="form-control">                                     
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>           
            </div>

        <div class="form-group inlineFormGroup">
            <label for="logger">Logger:</label>
            <select id="logger" class="form-control">
                <option selected="selected" value="All">All</option>
                <option value="ValPortal">ValPortal</option>            
                <option value="RealtyServiceBus">RealtyServiceBus</option>                         
                <option value="RealEc_OrderSync">RealEc_OrderSync</option>            
                <option value="Amp">Amp</option>                
                <option value="Vendor">Vendor</option> 
                <option value="AmpOrderSync">AmpOrderSync</option>   
                <option value="Val Client Portal">Val Client Portal</option>
                <option value="OrderAssign">OrderAssign</option>
                <option value="ProviderAssign">ProviderAssign</option>
            </select>     
        </div>
        <div class="form-group inlineFormGroup">
            <label for="level">Level:</label>
            <select id="level" multiple="multiple" name="level[]" class="form-control">
                @*<option selected="selected" value="All">All</option>*@
                <option value="Exception">Exception</option>
                <option value="Error">Error</option>
                <option value="Verbose">Verbose</option>
                <option value="Info">Info</option>
            </select>
        </div>
        <div class="form-group inlineFormGroup">
            <input type="checkbox" id="chkDateTimePicker" />
            <label for="dateTimePicker">Date Range:</label>
            @*<input type="text" id="dateTimePicker" class="form-control" name="daterange"  />*@ 
            
            <div id="dateTimePicker" class="form-control" >
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>                       
        </div>
        <div class="form-group inlineFormGroup">
            <label for="UniqueId">UniqueID:</label>
            <input type="text" class="form-control" id="UniqueId" />
        </div>
        <button id="btnSearch" class="btn btn-primary has-spinner">
            <i class="fa fa-refresh fa-spin"></i>
            Search
        </button>
        @*<button class="btn btn-primary" id="btnSearch" type="button">Search</button>*@
    </div>   
    <table id="logGrid" class="" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Logger</th>
                <th>Message</th>               
                <th>Level</th>
                <th>Date</th>
            </tr>
        </thead>
    </table>
</div>   
   

<script type="text/javascript">
    $(document).ready(function () {

        $('#dateTimePicker').daterangepicker(
         {
             timePicker: true,
             timePickerIncrement: 1,
             startDate: moment().subtract(2, 'days'),
             endDate: moment().subtract(1, 'days'),
             locale: { format: 'MM/DD/YYYY h:mm A'}
         },
         formatDate
         );
        
        formatDate(moment().subtract(2, 'days'), moment().subtract(1, 'days'));

        $('#level').multiselect({ includeSelectAllOption: true, allSelectedText: 'All Selected' });
        $("#level").multiselect('selectAll', false);
       $(".multiselect-selected-text").html("All");
      
        var env = $('#server option:selected').val();
        var rowCount = $('#resultCnt option:selected').val();
        var logger = $('#logger').val();
        var level = $('#level').val();
        var timeFrom = $('#dateTimePicker').data().daterangepicker.startDate;
        var timeTo = $('#dateTimePicker').data().daterangepicker.endDate;
        var uniqueId = $('#UniqueId').val();
        var useDate = $('#chkDateTimePicker').is(":checked");

        var dateFrom = new Date(timeFrom);
        var dateTo = new Date(timeTo);

        var grid = $('#logGrid').DataTable({            
            "autoWidth" :false,
            "pageLength": 25,
            "ajax": { 
                "url" : '/Home/LogResults?',
                "data": function (d) {
                    d.environment = $('#server option:selected').val(),
                    d.rowCount = $('#resultCnt option:selected').val(),
                    d.logger = $('#logger').val(),
                    d.level = JSON.stringify($('#level').val()),
                    d.dateFrom = $('#dateTimePicker').data().daterangepicker.startDate.toISOString(),
                    d.dateTo = $('#dateTimePicker').data().daterangepicker.endDate.toISOString(),
                    d.uniqueId = $('#UniqueId').val(),
                    d.useDate = $('#chkDateTimePicker').is(":checked")
            }
            },
            "columns": [
                 {
                     "className": 'rowDetails',
                     "orderable": false,
                     "data": null,
                     "defaultContent": '',
                     "width": "4%"
                 },
                { "data": "Id", "width": "6%"},
                { "data": "Logger", "width": "10%" },
                { "data": "Message", "width": "40%", "className": "b" },
                //{ "data": "Exception" },
                { "data": "Level", "width": "6%" },
                { "data": "Date", "width": "10%" }
            ],                      
        });

        $('#logGrid tbody').on('click', 'td.rowDetails', function () {
            var tr = $(this).closest('tr');
            var row = grid.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                //console.log(row.data())
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });

        $('#btnSearch').click(function () {
            $(this).toggleClass('active');
            grid.ajax.reload(function (json) {
                $('#btnSearch').toggleClass('active');               
            });
            grid.columns.adjust().draw();
            
        });

          //$('a.has-spinner, button.has-spinner').click(function () {
          //      $(this).toggleClass('active');
          //  });
       
     
    });

    function formatDate(start, end) {
        $('#dateTimePicker span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
 
    function format(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +               
                '<td><pre>' + d.Exception + '</pre></td>' +
            '</tr>' +          
        '</table>';
    }

</script>